* {
margin: 0;
padding: 0;
}

html {
  width: 1680px;
  height: auto;
}

body {
border: 20px solid #FFFFFF;
background-color: #FEE9DE;
}

.logo {
  text-align: center;
  margin-top: 70px;
}

.hero {
  text-align: center;
  margin-top: 80px;
}

.hero-wrapper {
  display: inline-block;
  text-align: left;
}

.hero h4 {
  font-size: 34px;
  margin-bottom: 45px;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
  color: #004C47;
}

.hero p {
  font-size: 18px;
   line-height: 50px;
   letter-spacing: 2px;
   font-family: 'Oswald', sans-serif;
   color: #004C47;
}

.hero p:last-child {
  line-height: 28px;
}
